In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('hiring_salaries.csv')

In [3]:
df.head()

  experience  test_score_10  interview_score_10  salary
0        NaN            8.0                   9   50000
1        NaN            8.0                   6   45000
2       five            6.0                   7   60000
3        two           10.0                  10   65000
4      seven            9.0                   6   70000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   experience          6 non-null      object
 1   test_score_10       7 non-null      float64
 2   interview_score_10  8 non-null      int64
 3   salary              8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 388.0+ bytes

In [5]:
df.shape

(8, 4)

In [6]:
df.describe()

       test_score_10  interview_score_10       salary
count       7.000000            8.000000      8.00000
mean        7.857143            7.875000  63000.00000
std         1.345185            1.642081  11501.55269
min         6.000000            6.000000  45000.00000
25%         7.000000            6.750000  57500.00000
50%         8.000000            7.500000  63500.00000
75%         8.500000            9.250000  70500.00000
max        10.000000           10.000000  80000.00000

In [7]:
df.head()

  experience  test_score_10  interview_score_10  salary
0        NaN            8.0                   9   50000
1        NaN            8.0                   6   45000
2       five            6.0                   7   60000
3        two           10.0                  10   65000
4      seven            9.0                   6   70000

In [8]:
df.tail()

  experience  test_score_10  interview_score_10  salary
3        two           10.0                  10   65000
4      seven            9.0                   6   70000
5      three            7.0                  10   62000
6        ten            NaN                   7   72000
7     eleven            7.0                   8   80000

In [9]:
df.experience=df.experience.fillna('zero')
df

  experience  test_score_10  interview_score_10  salary
0       zero            8.0                   9   50000
1       zero            8.0                   6   45000
2       five            6.0                   7   60000
3        two           10.0                  10   65000
4      seven            9.0                   6   70000
5      three            7.0                  10   62000
6        ten            NaN                   7   72000
7     eleven            7.0                   8   80000

In [10]:
from word2number import w2n

In [11]:
df.experience=df.experience.apply(w2n.word_to_num)

In [12]:
df

   experience  test_score_10  interview_score_10  salary
0           0            8.0                   9   50000
1           0            8.0                   6   45000
2           5            6.0                   7   60000
3           2           10.0                  10   65000
4           7            9.0                   6   70000
5           3            7.0                  10   62000
6          10            NaN                   7   72000
7          11            7.0                   8   80000

In [13]:
df=df.fillna(df.median())
df

   experience  test_score_10  interview_score_10  salary
0           0            8.0                   9   50000
1           0            8.0                   6   45000
2           5            6.0                   7   60000
3           2           10.0                  10   65000
4           7            9.0                   6   70000
5           3            7.0                  10   62000
6          10            8.0                   7   72000
7          11            7.0                   8   80000

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
X=df.drop('salary',axis=1)
Y=df.salary

In [16]:
X

   experience  test_score_10  interview_score_10
0           0            8.0                   9
1           0            8.0                   6
2           5            6.0                   7
3           2           10.0                  10
4           7            9.0                   6
5           3            7.0                  10
6          10            8.0                   7
7          11            7.0                   8

In [17]:
Y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary, dtype: int64

In [18]:
model=LinearRegression()

In [19]:
model.fit(X,Y)

LinearRegression()

In [20]:
model.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [21]:
model.intercept_

np.float64(17737.26346433771)

In [22]:
import joblib

In [23]:
joblib.dump(model,'salary_model.pkl')

['salary_model.pkl']